<!doctype html>
<title>Привет с планеты Mars!</title>
<body style="background: black; background: url(/static/img/{{ rocket }}.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;"></body>
<div style="color: #e4e4e4;
    text-align:  center;
    height: 90px;
    vertical-align:  middle;">
{% if name %}
  <h1>На связи узел: <b style="color:red">{{ name }}</b>!</h1>
  <h1>Ракета готова, коммандир!!</h1> 
  <h1>Её размер: <b style="color:yellow">{{ rocket }}</b>.</h1>
{% endif %}

{% if version %}
  <h1>Версия приложения: <b style="color:green">{{ version }}</b>.</h1>
{% endif %}

  {% if contents %}
  <textarea rows="10" cols="50">
    {{ contents }}
  </textarea>
  {% endif %}

  <h1>Связь завершена.</h1>

</div>
